

<div class="modal hide">
  <div class="content">
    <h1>Nova Ideia</h1>
    <form action="">
      
      <div class="input-wrapper">
        <label for="title">Título da Ideia</label>
        <input type="text" name="title" placeholder="Título">
      </div>

      <div class="input-wrapper">
        <label for="category">Categoria</label>
        <input type="text" name="category" placeholder="Categoria">
      </div>

      <div class="input-wrapper">
        <label for="image">Link da Imagem</label>
        <input type="url" name="image" placeholder="Link da Imagem">
      </div>

      <div class="input-wrapper">
        <label for="">Digite uma descrição para essa ideia</label>
        <textarea name="description" cols="30" rows="10" placeholder="Escreva aqui sua descrição."></textarea>
      </div>

      <div class="input-wrapper">
        <label for="link">Link da Ideia</label>
        <input type="url" name="link" placeholder="Link da Ideia">
      </div>
      
      <button class="voltar" onclick="onOff()">Voltar</button>
      <button class="salvar">Salvar</button>

    </form>
  </div>
</div>