*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  background-color: #e5e5e5;
  color: #25282b;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 7% 2%;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

div.description {
  display: grid;
  max-height: 700px;
  width: 100%;
  max-width: 350px;
}

section div.description img {
  width: 350px;
  justify-self: center;
  margin-bottom: 20px;
}

div.description p {
  font-size: 18px;
  line-height: 28px;
}

p strong.strong {
  color: #ff5e84;
}

div.button {
  justify-self: center;
  
}

div button {

  border: none;
  background: none;
  font-weight: bold;
  color: #ff5e84;
  cursor: pointer;
  font-size: 16px;
  margin: 50px 0 50px 0;
}

button.fat {
  background-color: #ff5e84;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  width: 175px;
  height: 50px;
  margin-left: 20px;
}

p.footer {
  justify-self: center;
  color: #494b4d;
}

p.footer a{
  color: #494b4d;
  text-decoration: none;
}

div.ideias {
  display: grid;
  gap: 5%;
}

div.ideia {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 3%;
}

div.ideia img {
  width: 120px;
  height: 120px;
  justify-self: center;
}

div.card-description {
  display: grid;
  margin: 0 auto;
}

div.ideia h1 {
  font-size: 19px;
}

div.ideia p.modality {
  font-size: 13px;
  color: #787a7c;
  margin: 5px 0 15px 0;
}

div.ideia p {
  font-size: 17px;
  line-height: 27px;
}

div.ideia p.go-idea {
  margin-right: 50px;
  margin-top: 10px;
  justify-self: end;
}

div.ideia p a {
  text-decoration: none;
  color: #ff5e84;
  font-weight: bold;
}

div.ideia p a:hover {
  color: #0984e3;
  transition: 0.4s;
}

div button:hover {
  color: #0984e3;
  transition: 0.4s;
}

div button.fat:hover {
  background-color: #0984e3;
  color: white;
  transition: 0.4s;
}



/* ============= MODAL ================= */

.modal {
  background-color: #ff5e84;
  position: fixed;
  top: 5%;
  left: 20%;
  height: 90vh;
  width: 60vw;
  display: flex;
  border-radius: 20px;


}

.content {
  margin: 40px auto;
  color: white;  
}

.content h1 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.content form {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 05%;
}

.content form div:nth-child(3), 
.content form div:nth-child(4), 
.content form div:nth-child(5) {
  grid-column: span 2;
}

.content form input, form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  font-size: 16px;
  outline: none;
}

.content form label {
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.content form button {
  background-color: white;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-end;
}

.content form button:hover {
  background-color: #0984e3;
  color: white;
  text-decoration: none;
}

.content form button.salvar {
  justify-self: flex-end;
}

.hide {
  display: none;
}